{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block title %}Editar | {{ evento.nome }}{% endblock %}
{% block content %}
    <section class="section has-background-grey-lighter" style="min-height: 100vh;">
        {% if success_message %}
            <div class="notification is-success" style="max-width: 950px; margin: 0 auto 10px">
                <button class="delete"></button>
                <strong>{{ success_message }}</strong>
            </div>
        {% endif %}

        <div class="container box" style="max-width: 950px;">
            <h1 class="title has-text-centered has-icons-right is-2">
                <span>Editar | {{ evento.nome }}</span>
            </h1>
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active"><a href="{% url 'eventos:editar-info' slug=evento.slug %}">Infos e
                        Contatos</a></li>
                    <li><a href="{% url 'eventos:dias-atividades' slug=evento.slug dia=1 %}">Dias de Eventos</a></li>
                    <li><a href="{% url 'eventos:palestrantes' slug=evento.slug %}">Palestrantes</a></li>
                    <li><a href="{% url 'eventos:patrocinadores' slug=evento.slug %}">Patrocinadores</a></li>
                    <li><a href="{% url 'eventos:realizadores' slug=evento.slug %}">Realizadores</a></li>
                    <li><a href="{% url 'eventos:apoiadores' slug=evento.slug %}">Apoiadores</a></li>
                </ul>
            </div>
            <form style="margin-bottom: 20px;" action="{% url 'eventos:editar-info' slug=evento.slug %}"
                  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="title is-4 has-text-centered">Informações básicas do Evento</h3>

                <!-- Onde -->
                <!-- Quando -->

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Data e Local:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            {% if evento_form.onde.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.onde class="input is-danger" placeholder="Ex: Walter Pyramid, Long Beach - CA" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                    {% else %}
                                <p class="control is-expanded has-icons-left">
                                {% render_field evento_form.onde class="input" placeholder="Ex: Walter Pyramid, Long Beach - CA" %}
                                <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                            {% endif %}
                            </p>
                            {% for error in evento_form.onde.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}

                        </div>
                        <div class="field">
                            {% if evento_form.quando.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.quando class="input is-danger" placeholder="Ex: 20 - 25 de Dezembro de 2021" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                </p>
                            {% else %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.quando class="input" placeholder="Ex: 20 - 25 de Dezembro de 2021" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                </p>
                            {% endif %}
                            {% for error in evento_form.quando.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Sobre -->

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Sobre o Evento:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-right">
                                {% if evento_form.sobre.errors %}
                                    {% render_field evento_form.sobre class="textarea is-danger" placeholder="Conte o que podemos esperar do evento" %}
                                {% else %}
                                    {% render_field evento_form.sobre class="textarea" placeholder="Conte o que podemos esperar do evento" %}
                                {% endif %}
                            </div>
                            {% for error in evento_form.sobre.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--  Banner -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Banner do Evento</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                {% if evento_form.banner.errors %}
                                    <div id="file-js-example" class="file has-name is-danger is-fullwidth">
                                        <label class="file-label">
                                            {% render_field evento_form.banner class="file-input" name="resume" %}
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">Selecione</span>
                                        </span>
                                            <span class="file-name">
                                            {% if evento.banner %}
                                                {{ evento.banner }}
                                            {% else %}
                                                Nenhum Arquivo Selecionado
                                            {% endif %}
                                            </span>
                                        </label>
                                    </div>
                                {% else %}
                                    <div id="file-js-example" class="file has-name is-fullwidth">
                                        <label class="file-label">
                                            {% render_field evento_form.banner class="file-input" name="resume" %}
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                        </span>
                                            <span class="file-name">
                                            {% if evento.banner %}
                                                {{ evento.banner }}
                                            {% else %}
                                                Nenhum Arquivo Selecionado
                                            {% endif %}
                                            </span>
                                        </label>
                                    </div>
                                {% endif %}
                            </p>
                            {% for error in evento_form.banner.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <h3 class="title is-4 has-text-centered" style="margin-top: 20px;">Informações de Contato</h3>
                <h4 class="subtitle is-6 has-text-centered">Diga onde podemos encontrar os Organizadores</h4>
                <!-- Endereço -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Endereço:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            {% if evento_form.endereco.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.endereco class="input is-danger" placeholder="Coordenação de Letras - CCHL" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                </p>
                            {% else %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.endereco class="input" placeholder="Coordenação de Letras - CCHL" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                </p>
                            {% endif %}
                            {% for error in evento_form.endereco.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Telefone -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Telefone: </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            {% if evento_form.telefone.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.telefone class="input is-danger" placeholder="(99) 99999-9999" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </p>
                            {% else %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.telefone class="input" placeholder="(99) 99999-9999" %}
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                    </span>
                                </p>
                            {% endif %}
                            {% for error in evento_form.telefone.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Email de Contato -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            {% if evento_form.email.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.email class="input is-danger" placeholder="Ex: contato@ufpi.edu.br" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            {% else %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.email class="input" placeholder="Ex: contato@ufpi.edu.br" %}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            {% endif %}
                            {% for error in evento_form.email.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Instagram</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            {% if evento_form.instagram.errors %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.instagram class="input is-danger" placeholder="Ex: instagram" %}
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                </p>
                            {% else %}
                                <p class="control is-expanded has-icons-left">
                                    {% render_field evento_form.instagram class="input" placeholder="Ex: instagram" %}
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                </p>
                            {% endif %}
                            {% for error in evento_form.instagram.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icon">
                                <button class="button is-dark is-outlined is-fullwidth"
                                        style="max-width: 400px; margin: 0 auto 16px;">
                                    <span>Confirmar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                let $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>

{% endblock %}