{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="section has-background-grey-lighter" style="min-height: 90vh;">
        {% if success_message %}
            <div class="notification is-success" style="max-width: 950px; margin: 0 auto 10px">
                <button class="delete"></button>
                <strong>{{ success_message }}</strong>
            </div>
        {% endif %}
        <div class="container box" style="max-width: 950px; min-height: 80vh;">
            <h1 class="title has-text-centered has-icons-right is-2">
                <span>Editar | {{ evento.nome }}</span>
                <!-- <span class="icon is-large"><i class="fas fa-edit"></i></span> -->
            </h1>
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li><a href="{% url 'eventos:editar-info' slug=evento.slug %}">Infos e
                        Contatos</a></li>
                    <li><a href="{% url 'eventos:dias-atividades' slug=evento.slug dia=1 %}">Dias de Eventos</a></li>
                    <li class="is-active"><a href="{% url 'eventos:palestrantes' slug=evento.slug %}">Palestrantes</a>
                    </li>
                    <li><a href="{% url 'eventos:patrocinadores' slug=evento.slug %}">Patrocinadores</a></li>
                    <li><a href="{% url 'eventos:realizadores' slug=evento.slug %}">Realizadores</a></li>
                    <li><a href="{% url 'eventos:apoiadores' slug=evento.slug %}">Apoiadores</a></li>
                </ul>
            </div>
            <article class="panel is-dark" style="max-width: 720px; margin: 0 auto;">
                <p class="panel-heading has-text-centered" style="display: flex; justify-content: space-between;">
                    <a href="{% url 'eventos:palestrantes' slug=evento.slug %}" class="link has-text-light">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                    <span class="is-size-4">Editar Palestrante</span>
                    <a class="link has-text-light is-invisible">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>
                </p>

                <form method="POST"
                      action="{% url 'eventos:editar-palestrante' slug=evento.slug pk=pk %}"
                      enctype="multipart/form-data"
                      style="margin: 20px 10px;">
                    {% csrf_token %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Nome</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    {% render_field p_form.nome class="input" placeholder="Nome do palestrante" %}
                                    {#                                    <input class="input" type="text" placeholder="Ex: Credenciamento">#}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Foto</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control has-icons-left">
                                <div id="file-js-example" class="file has-name is-fullwidth">
                                    <label class="file-label">
                                        {% render_field p_form.foto class="file-input" name="resume" %}
                                        {#                                            <input class="file-input" type="file" name="resume">#}
                                        <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
{#                                                <span class="file-label">Selecione</span>#}
                                            </span>
                                        {% if p.foto %}
                                            <span class="file-name">{{ p.foto }}</span>
                                        {% else %}
                                            <span class="file-name">Nenhum Arquivo Selecionado</span>
                                        {% endif %}
                                    </label>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Link</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    {% render_field p_form.link type="url" class="input" placeholder="Instagram, Facebook, Homepage..." %}
                                    {#                                    <input class="input" type="url" placeholder="Instagram, Facebook, Homepage...">#}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-link"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Resumo</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="field">
                                    <div class="control">
                                        {% render_field p_form.resumo class="textarea" placeholder="Pequeno resumo sobre o palestrante" rows="2" %}
                                        {#                                        <textarea class="textarea"#}
                                        {#                                                  placeholder="Resumo sobre a apresentação do Palestrante"#}
                                        {#                                                  rows="2"></textarea>#}
                                    </div>
                                </div>
                                <p class="help is-pulled-right">300 caracteres</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Apresentação</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {% render_field p_form.apresentacao class="textarea" placeholder="Texto que apresente o Palestrante de forma completa" %}
                                    {#                                    <textarea class="textarea"#}
                                    {#                                              placeholder="Texto que apresente o Palestrante de forma completa"></textarea>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Atividade</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option>Select dropdown</option>
                                            <option>With options</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icon">
                                    <button class="button is-dark is-outlined is-fullwidth"
                                            style="max-width: 400px; margin: 0 auto 16px;">
                                        <span>Confirmar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </section>
    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>

{% endblock %}
