{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="section has-background-grey-lighter" style="min-height: 90vh;">
        <div class="container box" style="max-width: 950px; min-height: 80vh;">
            <h1 class="title has-text-centered has-icons-right is-2">
                <span>Editar | {{ evento.nome }}</span>
                <!-- <span class="icon is-large"><i class="fas fa-edit"></i></span> -->
            </h1>
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li><a href="{% url 'eventos:editar-info' slug=evento.slug %}">Infos e Contatos</a></li>
                    <li class="is-active"><a>Dias de Eventos</a></li>
                    <li><a href="{% url 'eventos:palestrantes' slug=evento.slug %}">Palestrantes</a></li>
                    <li><a href="{% url 'eventos:patrocinadores' slug=evento.slug %}">Patrocinadores</a></li>
                    <li><a href="{% url 'eventos:realizadores' slug=evento.slug %}">Realizadores</a></li>
                    <li><a href="{% url 'eventos:apoiadores' slug=evento.slug %}">Apoiadores</a></li>
                </ul>
            </div>
            <article class="panel is-dark" style="max-width: 720px; margin: 0 auto; padding-bottom: 8px;">
                <p class="panel-heading is-size-4"></p>
                <div class="tabs is-fullwidth" style="margin-bottom: 8px;">
                    <ul>
                        {% for d in dias %}
                            {% if d.dia == dia_atual.dia %}
                                <li class="is-active"><a
                                        href="{% url 'eventos:dias-atividades' slug=evento.slug dia=d.dia %}">{{ d.data }}
                                </a>
                                </li>
                            {% else %}
                                <li><a
                                        href="{% url 'eventos:dias-atividades' slug=evento.slug dia=d.dia %}">{{ d.data }}
                                </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {#                        <li class="is-active"><a>9/Set</a></li>#}
                        {#                        <li><a>10/Set</a></li>#}
                        {#                        <li><a>11/Set</a></li>#}
                        {#                        <li><a>12/Set</a></li>#}
                        <li>
                            <a class="has-text-dark">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <!-- <span>Adicionar</span> -->
                            </a>
                    </ul>
                </div>
                <!-- <a class="is-active">Dia 1</a>
                    <a>Dia 2</a>
                    <a>Dia 3</a>
                    <a>Dia 4</a>
                    <a>Dia 5</a>
                    <a class="has-text-dark">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Adicionar</span>
                    </a> -->
                {% for a in atividades %}
                    <a href="{% url 'eventos:editar-atividade' slug=evento.slug dia=dia_atual apk=a.pk %}" class="panel-block is-active">
                    <span class="panel-icon">
                        <i class="fas fa-clock"></i>
                    </span>
                        <span class="has-text-info is-size-7" style="margin-right: 10px;">{{ a.horario }}</span>
                        <span>{{ a.nome }}</span>
                        <object style="margin-left: auto;">
                            <a href="#" class="button is-outlined is-small is-danger" style="height: 20px;">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            </a>
                        </object>
                    </a>
                {% endfor %}
                <a href="{% url 'eventos:nova-atividade' slug=evento.slug dia=dia_atual %}"
                   class="button is-dark is-outlined is-fullwidth" style="max-width: 400px; margin: 8px auto;">
                    <span class="panel-icon">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span class="has-text-centered">Nova Atividade</span>
                </a>
            </article>
        </div>
    </section>

    <script>
        const fileInput = document.querySelector('#file-js-example input[type=file]');
        fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
            }
        }
    </script>

{% endblock %}