{% extends 'core/base.html' %}

{% block title %}Editar | {{ evento.nome }}{% endblock %}

{% block content %}

    <section class="section has-background-grey-lighter" style="min-height: 90vh;">
        <div class="container box" style="max-width: 950px; min-height: 80vh;">
            <h1 class="title has-text-centered has-icons-right is-2">
                <span>Editar | {{ evento }}</span>
                <!-- <span class="icon is-large"><i class="fas fa-edit"></i></span> -->
            </h1>
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li><a href="{% url 'eventos:editar-info' slug=evento.slug %}">Infos e Contatos</a></li>
                    <li><a href="{% url 'eventos:dias-atividades' slug=evento.slug dia=1 %}">Dias de Eventos</a></li>
                    <li><a href="{% url 'eventos:palestrantes' slug=evento.slug %}">Palestrantes</a></li>
                    <li><a href="{% url 'eventos:patrocinadores' slug=evento.slug %}">Patrocinadores</a></li>
                    <li class="is-active"><a
                            href="{% url 'eventos:realizadores' slug=evento.slug %}">Realizadores</a></li>
                    <li><a href="{% url 'eventos:apoiadores' slug=evento.slug %}">Apoiadores</a></li>
                </ul>
            </div>
            <article class="panel is-dark" style="max-width: 720px; margin: 0 auto; padding-bottom: 8px;">
                <p class="panel-heading is-size-4"></p>

                {% for r in realizadores %}
                    <a class="panel-block is-active"
                       href="{% url 'eventos:editar-realizador' slug=evento.slug pk=r.pk %}">
                        <span>{{ r.nome }}</span>
                        <object style="margin-left: auto;">
                            <a class="button is-outlined is-small is-danger"
                               href="{% url 'eventos:excluir-realizador' slug=evento.slug pk=r.pk %}"
                               onclick="return get_confirmation('Deseja realmente excluir {{ r.nome }}?')"
                               style="height: 20px;">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            </a>
                        </object>
                    </a>
                {% endfor %}
                <a href="{% url 'eventos:novo-realizador' slug=evento.slug %}"
                   class="button is-dark is-outlined is-fullwidth" style="max-width: 400px; margin: 8px auto;">
                    <span class="panel-icon">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span class="has-text-centered">Adicionar</span>
                </a>
            </article>
        </div>
    </section>

    <script>
        function get_confirmation(message) {
            const res = confirm(message);
            return res;
        }
    </script>

{% endblock %}