{% extends 'eventos/evento-base.html' %}
{% block title %}{{ palestrante.nome }} | Detalhes{% endblock %}

{% block header %}
<!--==========================
Header
============================-->
<header id="header" class="header-fixed">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="{% url 'eventos:index' %}">Eventos|<span>UFPI</span></a></h1>
            <!-- <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a> -->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{% url 'eventos:evento' slug=slug %}#intro">Home</a></li>
                    <li><a href="{% url 'eventos:evento' slug=slug %}#about">Sobre</a></li>
                    <li><a href="{% url 'eventos:evento' slug=slug %}#speakers">Palestrantes</a></li>
                    <li><a href="{% url 'eventos:evento' slug=slug %}#schedule">Cronograma</a></li>
                    <li><a href="{% url 'eventos:evento' slug=slug %}#venue">Localização</a></li>
                    <!-- <li><a href="#hotels">Hotels</a></li> -->
                    <!-- <li><a href="#gallery">Gallery</a></li> -->
                    <li><a href="{% url 'eventos:evento' slug=slug %}#supporters">Patrocinadores</a></li>
                    <li><a href="{% url 'eventos:evento' slug=slug %}#contact">Contato</a></li>
                <!--           <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> -->
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->
{% endblock %}
{% block content %}
    <main id="main" class="main-page">

        <!--==========================
          Speaker Details Section
        ============================-->
        <section id="speakers-details" class="wow fadeIn">
            <div class="container">
                <div class="section-header">
                    <h2>Detalhes do Palestrante</h2>
                    <p>Conheça um pouco mais do nosso convidado</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img
                            src="{{ palestrante.foto.url }}"
                            alt="Speaker photo" class="img-fluid"
                            style="width: 100%;min-height: 400px; max-height: 540px; object-fit: cover"
                        >
                    </div>

                    <div class="col-md-6">
                        <div class="details">
                            <h2>{{ palestrante.nome }}</h2>
                            <div class="social">
                                {% if palestrante.twitter %}
                                    <a href="{{ palestrante.twitter }}"><i class="fa fa-twitter"></i></a>
                                {% endif %}
                                {% if palestrante.instagram %}
                                    <a href="{{ palestrante.instagram }}"><i class="fa fa-instagram"></i></a>
                                {% endif %}
                                {% if palestrante.linkedin %}
                                    <a href="{{ palestrante.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                {% endif %}
                                {% if palestrante.email %}
                                    <a href="mailto:{{ palestrante.twitter }}"><i class="fa fa-envelope"></i></a>
                                {% endif %}
                            </div>
                            {{ palestrante.resumo }}
                            {{ palestrante.apresentacao|linebreaks }}
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>
{% endblock %}