{% extends 'core/base.html' %}
{% block title %}Meus Eventos{% endblock %}

{% block content %}
    <section class="section has-background-grey-lighter" style="min-height: 80vh;">
        <div class="content container" id="main-container">
            <h1 class="title has-text-centered">Eventos de {{ user }}</h1>
            <div class="columns is-multiline">
                {% if eventos %}
                    {% for evento in eventos %}
                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-image">
                                    <a href="{% url 'eventos:evento' slug=evento.slug %}">
                                        <figure class="image">
                                            {% if evento.banner %}
                                                <img src="{{ evento.banner.url }}" alt="banner do evento">
                                            {% else %}
                                                <img src="https://bulma.io/images/placeholders/1280x960.png"
                                                     alt="Placeholder image">
                                            {% endif %}
                                        </figure>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content has-text-centered">
                                            <a href="{% url 'eventos:evento' slug=evento.slug %}">
                                                <p class="title is-4">{{ evento.nome }}</p>
                                            </a>
                                            {% if evento.instagram %}
                                                <p class="subtitle is-6">@{{ evento.instagram }}</p>
                                            {% endif %}
                                            <p class="subtitle is-6">
                                                <i class="fas fa-map-marker-alt"></i>
                                                {% if evento.onde %}
                                                    <span>{{ evento.onde }}</span>
                                                {% else %}
                                                    <span>à definir</span>
                                                {% endif %}
                                                <br>
                                                <i class="fas fa-clock"></i>
                                                <time>
                                                    {% if evento.quando %}
                                                        {{ evento.quando }}
                                                    {% else %}
                                                        à definir
                                                    {% endif %}
                                                </time>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{% url 'eventos:editar-info' slug=evento.slug %}"
                                       class="card-footer-item">Editar</a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}